[General]
Name=Class for LeechCraft
Comment=Class for LeechCraft without interfaces
Category=C++/LeechCraft
Files=Header,Implementation

[Header]
Name=Header
File=class.h
OutputFile={{ name }}.h

[Implementation]
Name=Implementation
File=class.cpp
OutputFile={{ name }}.cpp

